<nav class="navbar navbar-default" ng-controller="navigationController as navCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ui-sref="toplist">Top List <span class="sr-only">(current)</span></a></li>
        <li><a href="#" ui-sref="mywall">My Wall</a></li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Friends <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Albert</a></li>
            <li><a href="#">Mathiew</a></li>
            <li><a href="#">Maria</a></li>
          </ul>
        </li>-->
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <angucomplete-alt id="ex1"
              placeholder="Search friends"
              pause="100"
              selected-object="selectedFriend"
              local-data="friends"
              search-fields="nick"
              title-field="nick"
              minlength="1"
              input-class="form-control"/>
        </div>
      </form>
    </div>
  </div>
</nav>